/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(95, 91, 91);
}

.movies {
    width: 200px;
    padding: 3px;
    background-color: white;
    margin: 13px 0px;
}

header {
	background-color: black;
	color: red;
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 15px 15px 0px 15px;

}

#app ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    list-style: none;   
}


ul img {
    width: 100%;

}